<h1 class="mt-4 mb-4">Thùng rác</h1>
<div class="mt-4 mb-4">
    <a href="/products">quay lại, danh sách sản phẩm</a>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Stt</th>
      <th scope="col">Tên sản phẩm</th>
      <th scope="col">Hình ảnh</th>
      <th scope="col">Thể loại</th>
      <th scope="col">Giá</th>
      <th scope="col">Số lượng</th>
      <th scope="col" colspan="3">Tình trạng</th>
    </tr>
  </thead>
  <tbody>
      {{#each products}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name_product}}</td>
        <td><img style="width: 100px;height: 100px;" src="{{this.img_url}}" alt="{{this.name_product}}" class="img-thumbnail"></td>
        <td>{{this._id_category.name_category}}</td>
        <td>{{this.price}}</td>
        <td>{{this.quantity}}</td>
        <td>{{this.status}}</td>
        <td>
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#restoreModal{{this._id}}">khôi phục</button>
            <form method="POST" action="/products/bins/restore/{{this._id}}?_method=PATCH">
                <input type="hidden" name="_id" value="{{this._id}}">
                <div class="modal fade" id="restoreModal{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{this._id}}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="restoreModalLabel{{this._id}}">Confirm Restore</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    Are you sure you want to restore product "{{this.name_product}}"?
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Yes</button>
                    </div>
                </div>
                </div>
                </div>
            </form>
        </td>
        <td>
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#deleteModal{{this._id}}">xóa vĩnh viễn</button>
        <form method="POST" action="/products/bins/realDelete/{{this._id}}?_method=DELETE">
          <input type="hidden" name="_id" value="{{this._id}}">
          <div class="modal fade" id="deleteModal{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{this._id}}" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel{{this._id}}">Confirm Delete</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete product "{{this.name_product}}"?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-danger">Yes</button>
            </div>
          </div>
        </div>
        </div>
        </form>
        </td>
    </tr>
    {{else}}
    <tr>
      <td colspan="5" class="text-center">
        thùng rác trống
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
