<main>
    <img class="img-xem-chi-tiet" src="{{img}}" alt="{{name}}">
    <table>
        <tr>
            <th>Tên sản phẩm</th>
            <td>{{name}}</td>
        </tr>
        <tr>
            <th>Mã sản phẩm</th>
            <td>SP001</td>
        </tr>
        <tr>
            <th>Giá</th>
            <td>{{price}}</td>
        </tr>
        <tr>
            <th>Mô tả</th>
            <td><p>{{content}}</p></td>
        </tr>
    </table>
    <h2>Thông tin khác:</h2>
    <p>Các thông tin khác về sản phẩm có thể được đặt ở đây, ví dụ như đánh giá, bình luận của người dùng, sản phẩm liên
        quan, v.v.</p>
</main>